---
Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 132
SortIncludes: false
DerivePointerAlignment: false
PointerAlignment: Left
WhitespaceSensitiveMacros:
  - CL_BEGIN_ENUM_TAG
  - CL_DECLARE
  - CL_DECLARE_TAG
  - CL_DEFMETHOD_TAG
  - CL_DEFMETHOD_TAG
  - CL_DEFUN_SETF_TAG
  - CL_DEFUN_TAG
  - CL_DEF_CLASS_METHOD_TAG
  - CL_DOCSTRING_LONG_TAG
  - CL_DOCSTRING_TAG
  - CL_END_ENUM_TAG
  - CL_EXPOSE_TAG
  - CL_EXTERN_DEFMETHOD_TAG
  - CL_EXTERN_DEFUN_TAG
  - CL_INITIALIZER_TAG
  - CL_LAMBDA
  - CL_LAMBDA_TAG
  - CL_LISPIFY_NAME
  - CL_LISPIFY_NAME_TAG
  - CL_METHOD_OVERLOAD_TAG
  - CL_NAME
  - CL_NAME_TAG
  - CL_PKG_NAME
  - CL_PKG_NAME_TAG
  - CL_PRE_GC_STARTUP_TAG
  - CL_PRIORITY_TAG
  - CL_TERMINATOR_TAG
  - CL_UNWIND_COOP_TAG
  - CL_VALUE_ENUM_TAG
  - DETAILED_SYMBOL_EXTERNAL
  - GC_MANAGED_TYPE
  - GC_MANAGED_TYPE_TAG
  - LISP_CLASS_TAG
  - LISP_EXTERNAL_CLASS_TAG
  - META_CLASS_TAG
  - NAMESPACE_PACKAGE_ASSOCIATION_TAG
  - PACKAGE_NICKNAME_TAG
  - PACKAGE_SHADOW_TAG
  - PACKAGE_USE_TAG
  - SYMBOL_EXTERNAL
  - SYMBOL_INTERN
  - SYMBOL_INTERNAL
  - SYMBOL_SHADOW_EXTERNAL
...
