src/lisp/kernel/contrib/
src/lisp/modules/asdf/
src/mps/
src/bdwgc/
src/libatomic_ops/
GPATH
GRTAGS
GTAGS
TAGS
.lock-waf_darwin_build
.waf*/
.svn/
.git/
*~
.#*
*.log
*.dSYM/
*.i
*.a
*.dylib
\#*\#
*.fasl
*.fasp
*.faso
*.ll
*.dwarf
*.info
*.bundle
*.out
boost_build_v2/b2
boost_build_v2/bjam
wscript.config
boost_build_v2/engine/bin.linuxx86_64
boost_build_v2/engine/bootstrap
/*build*/
projects/
local.config
/.lock-waf_linux*_build
local.config
tools-for-build/waf
f0
/dependencies/
config.sexp
extensions/*/
.debhelper
debhelper-build-stamp
clasp.substvars
debian/clasp
debian/files
src/lisp/regression-tests/*.txt
src/lisp/regression-tests/*.bc
src/lisp/regression-tests/*.newfasl
src/analysis/*.lst
src/analysis/*.cc
bench/