[submodule "src/mps"]
	path = src/mps
	url = https://github.com/Ravenbrook/mps-temporary
	branch = dev/2014-08-18/non-incremental
[submodule "updatedAsdf"]
	path = src/lisp/kernel/asdf
	url = https://github.com/drmeister/asdf.git
[submodule "src/lisp/kernel/SICL"]
	path = src/lisp/kernel/SICL
	url = https://github.com/drmeister/SICL.git
