*~
.*.swp
\#*

build

*.data
*.dll
*.exe
*.exp
*.fas
*.ilk
*.implib
*.lib
*.manifest
*.obj
*.pdb


msvc/help.doc
msvc/*.bat
msvc/*.lsp
msvc/c/*.[ch]
msvc/clos/*.lsp
msvc/clos/*.[ch]
msvc/cmp/*.lsp
msvc/cmp/*.[ch]
msvc/ecl/*.h
msvc/ecl/gc/*.h
msvc/ecl/gc/private/*.h
msvc/ext/*.[ch]
msvc/gc/gc_cpp.cpp
msvc/gmp/msvc-build
msvc/gmp/*.[ch]
msvc/lsp/*.lsp
msvc/lsp/*.[ch]

BUILD-STAMP
MODULES
Makefile

src/autom4te.cache

regressions/*.lsp
regressions/eformat-tests/*.txt
