[submodule "src/lisp/kernel/contrib/sicl"]
	path = src/lisp/kernel/contrib/sicl
	url = https://github.com/Bike/SICL.git
[submodule "src/lisp/modules/asdf"]
	path = src/lisp/modules/asdf
        url = https://github.com/clasp-developers/asdf.git
[submodule "src/mps"]
	path = src/mps
	url = https://github.com/Ravenbrook/mps.git
	branch = version/1.115
[submodule "src/lisp/kernel/contrib/Acclimation"]
	path = src/lisp/kernel/contrib/Acclimation
	url = https://github.com/robert-strandh/Acclimation.git
[submodule "src/lisp/kernel/contrib/Concrete-Syntax-Tree"]
	path = src/lisp/kernel/contrib/Concrete-Syntax-Tree
	url = https://github.com/clasp-developers/Concrete-Syntax-Tree.git
