.svn/
.git/
*~
.#*
*.log
*.dSYM/
*.i
*.a
*.dylib
\#*\#
*.bundle
*.out
boost_build_v2/b2
boost_build_v2/bjam
local.config
boost_build_v2/engine/bin.linuxx86_64
boost_build_v2/engine/bootstrap
cando/
build/
projects/
build2/