# docker-compose uses this file to build clasp or cando in 2 steps.
# To compile clasp, you need to have docker set up, and docker-compose installed.
# To build cando, the cando extension must be present at ./extensions/cando
# To checkout cando's 'testing' branch, do this:
#    git clone git@github.com:drmeister/cando.git extensions/cando
#    cd extensions/cando && git checkout testing && cd -
version: '2'
services:
  # first, run: docker-compose run clasp-build
  # this will compile clasp and copy it's build output ./build/clasp.tgz
  # Note that this takes between 2 and 3 hours!
  clasp-build:
    image: clasp-build
    build:
      context: .
      dockerfile: tools/dockerfiles/clasp-build/Dockerfile
    entrypoint: tar -cvzf /build/clasp.tgz -C /out/clasp .
    volumes:
      - ./build:/build
  # To build clasp only, run: docker-compose build clasp
  # This will start with a smaller base image, that has only the runtime
  # dependencies, and unpack ./build/clasp.tgz into the directory /home/app
  clasp:
    image: clasp
    build:
      context: .
      dockerfile: tools/dockerfiles/clasp/Dockerfile
    depends_on:
      - clasp-build
  # To build cando, run: docker-compose run cando --help
  # this should build the clasp image as a dependency
  cando:
    image: cando
    build:
      context: .
      dockerfile: tools/dockerfiles/cando/Dockerfile
    depends_on:
      - clasp
    ports:
      - "8888:8888"
