#define INIT_FUNCTIONS_INC_H <generated/initFunctions_inc.h>
#define INIT_CLASSES_INC_H <generated/initClassesAndMethods_inc.h>
#define SOURCE_INFO_INC_H <generated/sourceInfo_inc.h>
#define SYMBOLS_SCRAPED_INC_H <generated/symbols_scraped_inc.h>
#define ENUM_INC_H <generated/enum_inc.h>
#define INITIALIZERS_INC_H <generated/initializers_inc.h>
#define PREGCSTARTUP_INC_H <generated/pre_gc_startup_inc.h>
#define LISP_WRAPPERS <generated/cl-wrappers.lisp>
#define C_WRAPPERS <generated/c-wrappers.h>
#define EXTENSION_HEADERS_INCLUDE <generated/extension_headers.h>
