#define INIT_FUNCTIONS_INC_H <clasp/main/generated/initFunctions_inc.h>
#define SOURCE_INFO_INC_H <clasp/main/generated/sourceInfo_inc.h>
#define INIT_CLASSES_INC_H <clasp/main/generated/initClasses_inc.h>
#define SYMBOLS_SCRAPED_INC_H <clasp/main/generated/symbols_scraped_inc.h>
#define STATIC_ANALYZER_PRODUCT <clasp/main/clasp_gc.cc>
#define PROJECT_HEADERS_INCLUDE <clasp/main/project_headers.h>
