#define INIT_FUNCTIONS_INC_H <generated/initFunctions_inc.h>
#define SOURCE_INFO_INC_H <generated/sourceInfo_inc.h>
#define INIT_CLASSES_INC_H <generated/initClasses_inc.h>
#define SYMBOLS_SCRAPED_INC_H <generated/symbols_scraped_inc.h>
#define CLASP_GC_CC <clasp_gc.cc>
#define PROJECT_HEADERS_INCLUDE <project_headers.h>
