#!/usr/bin/make -f

CXXFLAGS=
CPPFLAGS=
CFLAGS=
DEB_BUILD_MAINT_OPTIONS=nocheck nostrip

%:
	dh $@

override_dh_auto_clean:
	rm -rf build

override_dh_auto_test:
	echo ninja -C build test-boehmprecise

override_dh_auto_configure:
	./koga --package-path=$$(pwd)/debian/clasp/

override_dh_auto_build:
	ninja -C build

override_dh_auto_install:
	ninja -C build install
