#
# For developing clasp  set these environment variables
# This allows us to build from within the C++ source code directories rather than 
# always having to rely on the makefile in the top directory.
#
# CLASP_TARGET_OS = (darwin | linux)
# PJOBS = {#cores available for parallel compilation}
# PREFIX = {where to put built files}
# EXTERNALS = {If using externals-clasp - where it lives}
# CLASP_LISP_SOURCE_DIR = {path within clasp where lisp source lives.  This lets you edit/use the lisp source directly}
#
export CLASP_TARGET_OS=darwin
export PJOBS=6
export CLASP_CLANG_PATH=$HOME/local/externals-clasp/release/bin/clang++
export PREFIX=$HOME/local/clasp
export EXTERNALS=$HOME/local/externals-clasp
export CLASP_LISP_SOURCE_DIR=$HOME/Development/clasp/src/lisp
export PATH=$PATH:$HOME/local/clasp/Contents/boost_build_v2/bin:~/local/externals-clasp/release/bin:~/local/clasp/MacOS:$HOME/local/externals-clasp/common/bin


