

export BJAM_VERSION=3.1.18
export BOOST_VERSION=1_53_0
export BOOST_BUILD_ROOT=$CLASP_HOME/externals/src/boost_$BOOST_VERSION
export BOOST_BUILD_PATH=$CLASP_HOME:$CLASP_HOME/externals/src/boost-build
export BOOST_ROOT=$BOOST_BUILD_ROOT
#export BOOST_PYTHON_VERSION=2.7
#export BOOST_PYTHON_ROOT=/Library/Frameworks/EPD64.framework/Versions/7.2

